<app-auth>
  <form class="form">
    <input class="user" type="text" placeholder="User">
    <input class="password" type="password" placeholder="Password">
    <div class="buttons">
      <p *ngIf="isLoading(); else loginBtn">Loading...</p>
      <ng-template #loginBtn>
        <button 
          class="login" 
          type="button"
          (click)="login()"
        >Login
        </button>
      </ng-template>
      
      <button class="googleLogin">
        <img class="googleImage" src="../../../assets/google/googleLogo.png" alt="Google">
      </button>
    </div>
  </form>
  <a routerLink="/register" class="loginTap">Don't You have an account?</a>  
</app-auth>
