@import "/src/styles/colors";

@mixin borders {
  border-radius: 15px;
  border: 1px solid black;
}

@mixin cursor {
  cursor: pointer;
}

.form {
  width: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .user,
  .password {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    @include borders();
  }

  .buttons {
    width: 100%;
    display: flex;
    gap: 10px;

    .login {
      width: 90%;
      font-size: 25px;
      background-color: $login-button;
      @include borders();
      @include cursor();
    }

    .googleLogin {
      @include borders();
      @include cursor();

      .googleImage {
        width: 40px;
        padding: 5px;
      }
    }
  }
}

.loginTap {
  margin-top: 30px;
  font-size: 20px;
  color: $buttons;
  @include cursor();
}
