<app-auth>
  <form class="form">
    <input class="user" type="text" placeholder="User">
    <input class="password" type="password" placeholder="Password">
    <div class="buttons">
      <p *ngIf="isLoading(); else loginBtn">Loading...</p>
      <ng-template #loginBtn>
        <button 
          class="login" 
          type="button"
          (click)="login()"
        >Login
        </button>
      </ng-template>
      
      <div
        id="g_id_onload"
        class="google-button"
        data-client_id="756127147061-fqhrqhmm7shfavmjr9n95e3ade8n6qsk.apps.googleusercontent.com"
      >
    </div>
    <div class="g_id_signin" data-type="standard"></div>
    </div>
  </form>
  <a routerLink="/register" class="loginTap">Don't You have an account?</a>  
</app-auth>
