<div class="container">
  <img
    class="image"
    src="https://blog.vantagecircle.com/content/images/2022/06/motivacion-laboral-.png"
    alt="MotivationApp"
  />
  <!-- the image is momentary -->
  <div class="form">
    <input class="profile" type="email" placeholder="Email" />
    <input class="profile" type="text" placeholder="Name" />
    <input class="profile" type="password" placeholder="Password" />
    <input class="profile" type="password" placeholder="Confirm password" />
    <button class="signUp">Sign up</button>
  </div>
  <span routerLink="login" class="registerTap"
    >Already have an account?</span
  >
</div>
