/*
  Temporary Palette
#407C87 - Dark
#A5DBDD - Lighter
#D3E1E2 - More Lighter
#EEF1F6 - White
*/

// Home Logo
$border: #407C87;
$bk-homeLogo: #A5DBDD;

// Login
$login-button: #A5DBDD;
$buttons: #407C87;

// Feed
$color-titles: #407C87;
$bk-logout: #D3E1E2;
$bk-buttons: #D3E1E2;

// New Activity
$bk-window: #EEF1F6;
