/*
  Temporary Palette
#407C87 - Dark
#A5DBDD - Lighter
#EEF1F6 - White
#D3E1E2 - Gray type
*/

// Login
$login-button: #A5DBDD;
$buttons: #407C87;

// Feed
$color-titles: #407C87;
$bk-logout: #D3E1E2;
$bk-newActivity: #A5DBDD;
