@import "/src/styles/colors";

@mixin borders {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

@mixin alignButtomsContent {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

@mixin InternalContentMeasurements {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// height: 90px;
// background-color: #65000e;
// flex-direction: row;
// align-items: center;
// position: fixed;
// top: 0;
// left: 0;
// z-index: 1;

.profile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;

  .profileIcon {
    font-size: 60px;
    cursor: pointer;
  }
}

.titleContent {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: $color-titles;

  .title {
    font-size: 30px;
  }

  .listIcon {
    font-size: 35px;
  }
}

.activitiesList {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .item {
    width: 45%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include borders();

    .activityData {
      width: 80%;
      @include InternalContentMeasurements();

      .activityName {
        font-size: 25px;
      }

      .frequency {
        font-size: 15px;
      }
    }

    .icons {
      @include InternalContentMeasurements();

      .edit {
        color: $color-edit;
        cursor: pointer;
      }

      .delete {
        color: $color-delete;
        cursor: pointer;
      }
    }
  }
}

.addNew {
  display: flex;
  justify-content: center;
  gap: 20px;

  .newActivity {
    margin-top: 50px;
    font-size: 25px;
    background-color: $bk-newActivity;
    @include borders();
    @include alignButtomsContent();
  }
}
