<div class="profile">
  <img class="profileImage" [src]="userProfile.picture" alt="ProfileImage" />
</div>
<h1>Welcome: {{userProfile.name}}</h1>
<div class="titleContent">
  <h1 class="title">Your activities</h1>
  <img class="fistImage" src="../../../assets/images/fistUp.png" alt="FistUp" />
</div>
<div class="activitiesList">
  <!-- Primer Item -->
  <div class="item">
    <div class="activityData">
      <span class="activityName">Gym</span>
      <span class="frequency">Every day at 17:00</span>
    </div>
    <div class="icons">
      <img class="edit" src="../../../assets/images/edit.png" alt="EditImage" />
      <img class="delete" src="../../../assets/images/delete.png" alt="DeleteImage"/>
    </div>
  </div>
  <!-- Segundo Item -->
  <div class="item">
    <div class="activityData">
      <span class="activityName">English Classes</span>
      <span class="frequency">Wednesday at 20:00 </span>
    </div>
    <div class="icons">
      <img class="edit" src="../../../assets/images/edit.png" alt="EditImage" />
      <img class="delete" src="../../../assets/images/delete.png" alt="DeleteImage"/>
    </div>
  </div>
  <!-- Tercer Item -->
  <div class="item">
    <div class="activityData">
      <span class="activityName">Work</span>
      <span class="frequency">From Monday to Friday at 6:00</span>
    </div>
    <div class="icons">
      <img class="edit" src="../../../assets/images/edit.png" alt="EditImage" />
      <img class="delete" src="../../../assets/images/delete.png" alt="DeleteImage"/>
    </div>
  </div>
  <!-- Cuarto Item -->
  <div class="item">
    <div class="activityData">
      <span class="activityName">Play Soccer</span>
      <span class="frequency">Saturday at 22:00 </span>
    </div>
    <div class="icons">
      <img class="edit" src="../../../assets/images/edit.png" alt="EditImage" />
      <img class="delete" src="../../../assets/images/delete.png" alt="DeleteImage"/>
    </div>
  </div>
</div>
<div class="addNew">
  <button class="newActivity" (click)="showNewActivity()">
    <span class="newTitle">Add new</span>
    <img class="add" src="../../../assets/images/add.png" alt="addImage" />
  </button>
</div>
