<div class="profile">
  <span class="material-symbols-outlined profileIcon"> account_circle </span>
</div>
<div class="titleContent">
  <h1 class="title">
    Your activities
  </h1>
  <span class="material-symbols-outlined listIcon"> list_alt </span>
</div>
<div class="activitiesList">
  <!-- Primer Item -->
  <div class="item">
    <div class="activityData">
      <span class="activityName">Gym</span>
      <span class="frequency">Every day at 17:00</span>
    </div>
    <div class="icons">
      <span class="material-symbols-outlined edit"> edit </span>
      <span class="material-symbols-outlined delete"> delete </span>
    </div>
  </div>
  <!-- Segundo Item -->
  <div class="item">
    <div class="activityData">
      <span class="activityName">English Classes</span>
      <span class="frequency">Wednesday at 20:00 </span>
    </div>
    <div class="icons">
      <span class="material-symbols-outlined edit"> edit </span>
      <span class="material-symbols-outlined delete"> delete </span>
    </div>
  </div>
  <!-- Tercer Item -->
  <div class="item">
    <div class="activityData">
      <span class="activityName">Work</span>
      <span class="frequency">From Monday to Friday at 6:00</span>
    </div>
    <div class="icons">
      <span class="material-symbols-outlined edit"> edit </span>
      <span class="material-symbols-outlined delete"> delete </span>
    </div>
  </div>
  <!-- Cuarto Item -->
  <div class="item">
    <div class="activityData">
      <span class="activityName">Play Soccer</span>
      <span class="frequency">Saturday at 22:00 </span>
    </div>
    <div class="icons">
      <span class="material-symbols-outlined edit"> edit </span>
      <span class="material-symbols-outlined delete"> delete </span>
    </div>
  </div>
</div>
<div class="addNew">
  <button class="newActivity">
    Add new
    <span class="material-symbols-outlined">add</span>
  </button>
</div>
